@model string
@{
    ViewBag.Title = "عملیات مورد نظر با موفقیت انجام شد.";
}
<p>
    عملیات مورد نظر با موفقیت انجام شد. برای ادامه <a href='@(Model ?? Url.RouteUrl("List"))'>
        اینجا</a> کلیک کنید.
</p>
