@{
    ViewBag.Title = "تماس با ما";
}
<h2>@ViewBag.Title</h2>
<p>
    برای تماس با ما از طرق ذیل اقدام نمایید.
</p>
<ul>
    <li><a href="mailto:m.sadegh.sh@gmail.com">m[dot]sadegh[dot]sh[at]gmail[dot]com</a></li>
    <li><a href="mailto:iman.delavari@gmail.com">iman[dot]delavari[at]gmail[dot]com</a></li>
</ul>
