<div id="cart">
    <span>محصولات: <strong>4</strong></span> <span>هزینه کل: <strong>250.000 ریال</strong></span>
    <div class="clear-fix">
    </div>
    @Html.RouteLink("سبد خرید شما", "Cart", null, new { @class = "cart-link" })
</div>
