@model IEnumerable<Product>
<div class="box categories">
    <h2>
        محصولات پرفروش<span></span>
    </h2>
    <div class="box-content">
        <ul>
            @foreach (var product in Model)
            {
                <li>@Html.ProductLink(product)
                    <span class="gray">(@product.Category.Name)</span> </li>
            }
        </ul>
    </div>
</div>
